{% extends 'base.html' %}
{% load static %}

{% block title %}
  Forget Password
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block backgroundImageURL %}
  {% static 'backgrounds/login.jpeg' %}
{% endblock %}

{% block navLinksWide %}
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'eventList' %}">Events</a>
    <a href="">Projects</a>
    <a href="">Lost-Found</a>
    <a href="">Study Material</a>
{% endblock navLinksWide %}

{% block navLinksDrop %}
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'eventList' %}">Events</a>
    <a href="">Projects</a>
    <a href="">Lost-Found</a>
    <a href="">Study Material</a>
{% endblock navLinksDrop %}


{% block content %}
<main>
    <div class="wrapper">
        <div class="title" style="font-size: 2em;">
            Forget Password
        </div>
        <div class="form-section">
            <form method="post" autocomplete="off" class="form">
                {% csrf_token %}
                {% if sending_otp %}
                    <div class='control block-cube block-input'>
                        <input name='email' placeholder='Email' type='text'>
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                    </div>
                    <button class='btn block-cube block-cube-hover' type='submit' name="sending_otp">
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='text'>
                            Send OTP
                        </div>
                    </button>
                {% endif %}

                {% if verify_otp %}
                    <div class='control block-cube block-input'>
                        <input name='otp' placeholder='OTP' type='number' maxlength="6" minlength="6">
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                    </div>
                    <button class='btn block-cube block-cube-hover' type='submit' name="verify_otp">
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='text'>
                            Verify OTP
                        </div>
                    </button>
                {% endif %}

                {% if password_change %}
                    <div class='control block-cube block-input'>
                        <input name='password' placeholder='Password' type='password'>
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                    </div>
                    <div class='control block-cube block-input'>
                        <input name='confirm_password' placeholder='Confirm Password' type='password'>
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                    </div>
                    <button class='btn block-cube block-cube-hover' type='submit' name="password_change">
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='text'>
                            Change Password
                        </div>
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
</main>

<script>
    
</script>
{% endblock content %}