{% extends 'base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block backgroundImageURL %}
  {% static 'backgrounds/login.jpeg' %}
{% endblock %}

{% block navLinksWide %}
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'eventList' %}">Events</a>
{% endblock navLinksWide %}

{% block navLinksDrop %}
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'eventList' %}">Events</a>
{% endblock navLinksDrop %}


{% block content %}
<main>
    <div class="wrapper">
        <div class="title">
            Login
        </div>
        <div class="form-section">
            <form method="post" autocomplete="off" class="form">
                {% csrf_token %}
                <div class='control block-cube block-input'>
                    <input name='email' placeholder='Email' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
                <div class='control block-cube block-input'>
                    <input name='password' placeholder='Password' type='password'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
                <button class='btn block-cube block-cube-hover' type='submit'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='text'>
                        Login
                    </div>
                </button>
                <div class="signup-ask">
                    <a href="{% url "forgotPassword" %}">Forgot password?</a>
                    <br>
                    <br>
                    <p>Don't have account yet?</p>
                    <a href="{% url "signup" %}"> Click Here to Signup</a>
                </div>
            </form>
        </div>
        </div>
    </div>
</main>

<script>
    
</script>
{% endblock content %}