@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background-size: cover;
    background-position: center;
    overflow-y: hidden; 
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.homepage .title h1 {
    font-size: 100px;
    font-weight: 500;
    background: linear-gradient(90deg, #ff4596, #8c4de4, #629eff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient-animation 9s infinite;
}

.homepage .title h3 {
    font-weight: 200;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.67);
    padding-bottom: 15px;
}

.homepage .explore-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    height: 30vh;
}

.explore-buttons {
    padding-top: 150px;
}

.explore-buttons a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 25px;
    cursor: pointer;
}

.explore-buttons a:hover {
    background-color: white;
    color: black;
    transition: 200ms linear;
}

footer{
    position: fixed;
    top: 98%;
    left: 10px;
}

@media (max-width: 1000px) {
    .homepage {
        justify-content: flex-start;
    }

    .title {
        margin-top: 20vh;
        padding: 0;
        margin-bottom: 0;
    }

    .homepage .title h1 {
        font-size: 45px;
        font-weight: 550;
    }

    .homepage .title h3 {
        font-size: 22px;
        font-weight: 300;
    }

    .explore-buttons {
        flex-direction: column;
        padding-top: 80px;
    }

    .explore-buttons a {
        margin-top: 10px;
        font-size: 16px;
        padding: 10px 20px;
    }

}
