{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock css %}

{% block title %}IET lucknow{% endblock title %}

{% block backgroundImageURL %}
{% static 'backgrounds/homepage.jpeg' %}
{% endblock backgroundImageURL %}

{% block content %}
<main>
    <div class="homepage">
        <div class="title">
            <h3>
                Welcome to
            </h3>
            <h1>
                IET Lucknow
            </h1>
        </div>
        <div class="explore-buttons">
            <a href="/events">Events</a>
            <a href="">Projects*</a>
            <a href="">Lost-Found*</a>
            <a href="">Study Material*</a>
        </div>
    </div>
</main>

<footer>
    <p>© 2024 Vineet Kumar | website created & managed by Vineet</p>
</footer>
{% endblock content %}