{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body style="background-image: url({% block backgroundImageURL %}{% endblock backgroundImageURL %});">    
    <header>
        <nav>
            <div class="left">
                <a href="{% url 'homepage' %}">IET Lucknow</a>
            </div>
            <div class="right">
                {% block navLinksWide %}{% endblock navLinksWide %}
                {% if user.is_anonymous %}
                    {% comment %} 
                    <a href="">Projects</a>
                    <a href="">Lost-Found</a>
                    <a href="">Study Material</a> 
                    {% endcomment %}
                    <a href="{% url 'login' %}">Log in</a>
                    <a href="{% url 'signup' %}">Sign up</a>
                {% endif %}
                {% if not user.is_anonymous %}
                    {% comment %} 
                    <a href="">Projects</a>
                    <a href="">Lost-Found</a>
                    <a href="">Study Material</a> 
                    {% endcomment %}
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Log out</a>
                {% endif %}

            </div>
            <div class="nav-button">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <div class="dropdown">
            {% if not user.is_anonymous %}
                <div class="profile-picture">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.name }}">
                    {% else %}
                        <img src="/static/images/default-profile.png" alt="Default Profile Picture">
                    {% endif %}
                </div>
                <div class="name">{{user.name}}</div>
                <div class="rollno">{{user.rollno}}</div>
                <div class="branch">{{user.branch}}</div>
            {% endif %}
            {% block navLinksDrop %}{% endblock navLinksDrop %}
            {% if user.is_anonymous %}
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
            {% if not user.is_anonymous %}
                {% if user.club_admin != 'NORMAL' %}
                    <a href="{% url 'addEvent' %}">Add Event</a>
                {% endif %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Log out</a>
            {% endif %}
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="message-box {{message.tags}}">
                <div class="message">
                    {{message}}
                </div>
                <i class="fa-solid fa-xmark"></i>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}


    <script>
        document.querySelector(".nav-button").addEventListener("click", function(e){
            const dropdown = document.querySelector(".dropdown")
            const body = document.querySelector("body")
            if (dropdown.style.display == "flex"){
                dropdown.style.display = "none"
                //body.style.overflowY = "auto"
            }
            else{
                dropdown.style.display = "flex"
                //body.style.overflowY = "hidden"
            }
        })
        document.querySelector("main").addEventListener("click", function(e){
            const dropdown = document.querySelector(".dropdown")
            const body = document.querySelector("body")
            if (dropdown.style.display == "flex"){
                dropdown.style.display = "none"
                //body.style.overflowY = "auto"
            }
        })

        document.querySelector(".message-box i").addEventListener("click", function(e){
            const message_box = e.target.parentElement
            message_box.style.display = "none"
        })

        // Function to automatically remove messages after 10 seconds
        document.addEventListener('DOMContentLoaded', function () {
            const messages = document.querySelectorAll('.message-box');
            messages.forEach(function(message) {
                setTimeout(function() {
                    message.style.transition = "opacity 0.5s ease";
                    message.style.opacity = "0";
                    setTimeout(function() {
                        message.remove();
                    }, 500);
                }, 10000);
            });
        });
        
    </script>
</body>

</html>