{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body style="background-image: url({% block backgroundImageURL %}{% endblock backgroundImageURL %});">    
    <header>
        <nav>
            <div class="left">
                <a href="{% url 'homepage' %}">IET Lucknow</a>
            </div>
            <div class="right">
                {% if not user.is_anonymous %}
                    <div class="notification-icon">
                        {% if not seen and notifications%}
                            <span class="notification-count"></span>
                        {% endif %}
                        <i class="fa-solid fa-bell"></i>
                    </div>
                {% endif %}
                <div class="nav-button">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        {% if not user.is_anonymous %}
            <div class="nav-drop-box">
                <div class="notification-title">
                    Notifications
                </div>
                {% if notifications %}
                    {% for i in notifications %}
                        <div class="notification type-{{i.notificationType}}">
                            {{i.notification}}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if not notifications %}
                    <div class="notification type-normal">
                        No Notifications
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="dropdown">
            {% if not user.is_anonymous %}
                <div class="profile-picture">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.name }}">
                    {% else %}
                        <img src="/static/images/default-profile.png" alt="Default Profile Picture">
                    {% endif %}
                </div>
                <div class="name">{{user.name}}</div>
                <div class="rollno">{{user.rollno}}</div>
                <div class="branch">{{user.branch}}</div>
            {% endif %}
            {% block navLinksDrop %}{% endblock navLinksDrop %}
            {% if user.is_anonymous %}
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'eventList' %}">Events</a>
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
            {% if not user.is_anonymous %}
                {% if user.club_admin != 'NORMAL' %}
                    <a href="{% url 'addEvent' %}">Add Event</a>
                    <a href="{% url 'handleData' %}">Handle Data</a>
                {% endif %}
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'eventList' %}">Events</a>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Log out</a>
            {% endif %}
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="message-box {{message.tags}}">
                <div class="message">
                    {{message}}
                </div>
                <i class="fa-solid fa-xmark"></i>
            </div>
        {% endfor %}
    {% endif %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% block footer %}{% endblock footer %}


    <script>
        document.querySelector(".nav-button").addEventListener("click", function(e){
            const dropdown = document.querySelector(".dropdown")
            // const body = document.querySelector("body")
            if (dropdown.style.display == "flex"){
                dropdown.style.display = "none"
                //body.style.overflowY = "auto"
            }
            else{
                dropdown.style.display = "flex"
                //body.style.overflowY = "hidden"
            }

            const navDropBox = document.querySelector(".nav-drop-box")
            // const body = document.querySelector("body")
            if (navDropBox.style.display == "block"){
                navDropBox.style.display = "none"
                //body.style.overflowY = "auto"
            }
        })

        document.querySelector(".notification-icon").addEventListener("click", function(e){
            const navDropBox = document.querySelector(".nav-drop-box")
            // const body = document.querySelector("body")
            if (navDropBox.style.display == "block"){
                navDropBox.style.display = "none"
                //body.style.overflowY = "auto"
            }
            else{
                navDropBox.style.display = "block"
                //body.style.overflowY = "hidden"
            }

            const dropdown = document.querySelector(".dropdown")
            // const body = document.querySelector("body")
            if (dropdown.style.display == "flex"){
                dropdown.style.display = "none"
                //body.style.overflowY = "auto"
            }

            fetch("{% url 'mark_notifications_as_seen' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json",
                },
            })

            document.querySelector(".notification-count").style.display = "none"
        })

        document.querySelector("main").addEventListener("click", function(e){
            const dropdown = document.querySelector(".dropdown")
            const navDropBox = document.querySelector(".nav-drop-box")
            dropdown.style.display = "none"
            navDropBox.style.display = "none"
        })

        document.querySelector(".message-box i").addEventListener("click", function(e){
            const message_box = e.target.parentElement
            message_box.style.display = "none"
        })

        // Function to automatically remove messages after 10 seconds
        document.addEventListener('DOMContentLoaded', function () {
            const messages = document.querySelectorAll('.message-box');
            messages.forEach(function(message) {
                setTimeout(function() {
                    message.style.transition = "opacity 0.5s ease";
                    message.style.opacity = "0";
                    setTimeout(function() {
                        message.remove();
                    }, 500);
                }, 5000);
            });
        });
    </script>
</body>

</html>