{% extends 'base.html' %}
{% load static %}

{% block title %}
  Add Event
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block backgroundImageURL %}
  {% static 'backgrounds/login.jpeg' %}
{% endblock %}

{% block content %}
<main>
    <div class="wrapper">
        <div class="title">
            Add Event
        </div>
        <div class="form-section">
            <form method="post" enctype="multipart/form-data" autocomplete="off" class="form">
                {% csrf_token %}
                
                <div class='control block-cube block-input'>
                    <input name='uniqueEventName' placeholder='Unique Event Name' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='eventName' placeholder='Event Name' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='eventDiscription' placeholder='Event Description' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='eventImage' placeholder='Upload Event Image' type='file'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='location' placeholder='Event Location' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='coordinators' placeholder='Event Coordinators' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='contact' placeholder='Contact' type='text'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <select name='eventType'>
                        <option value='' disabled selected>Select Event Type</option>
                        <option value="normal">Normal Event</option>
                        <option value="individual">Individual Participation Event</option>
                        <option value="team">Team Participation Event</option>
                    </select>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='eventDate' placeholder='Event Date' type='date'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
                
                <div class='control block-cube block-input'>
                    <input name='minTeamSize' placeholder='Min Team Size' type='number'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <div class='control block-cube block-input'>
                    <input name='maxTeamSize' placeholder='Max Team Size' type='number'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                </div>
            
                <button class='btn block-cube block-cube-hover' type='submit'>
                    <div class='bg-top'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg-right'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='bg'>
                        <div class='bg-inner'></div>
                    </div>
                    <div class='text'>
                        Submit
                    </div>
                </button>
            </form>
        </div>  
        </div>
    </div>
</main>

<script>
    
</script>
{% endblock content %}