{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ event.eventName }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
  <link rel="stylesheet" href="{% static 'css/eachEvent.css' %}" />
{% endblock %}

{% block backgroundImageURL %}
  {% static 'backgrounds/eachEvent.jpeg' %}
{% endblock %}

{% block navLinksWide %}
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'eventList' %}">Events</a>
    <a href="">Projects</a>
    <a href="">Lost-Found</a>
    <a href="">Study Material</a>
{% endblock navLinksWide %}

{% block navLinksDrop %}
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'eventList' %}">Events</a>
    <a href="">Projects</a>
    <a href="">Lost-Found</a>
    <a href="">Study Material</a>
{% endblock navLinksDrop %}


{% block content %}
<main>
    <div class="wrapper">
        <div class="title">
            {{ event.eventName }}
        </div>
        
        <div class="details-wrapper">
            <div class="event-image">
                {% if event.eventImage %}
                    <img src="{{ event.eventImage }}" alt="{{ event.eventName }}">
                {% endif %}
            </div>

            <div class="detail discription">
                <span>Discription</span>: {{ event.eventDiscription }}
            </div>
            <div class="detail location">
                <span>Location</span>: {{ event.location }}
            </div>
            <div class="detail coordinators">
                <span>Coordinators</span>: {{ event.coordinators }}
            </div>
            <div class="detail contact">
                <span>Contacts</span>: {{ event.contact }}
            </div>
            {% if event.eventType == "team" %}
                <div class="detail team-size">
                    <p>
                        <span>Team Size</span>: {{ event.minTeamSize }} - {{event.maxTeamSize}}
                    </p>
                </div>
            {% endif %}
            <div class="detail date">
                <span>Event Date</span>: {{ event.eventDate }}
            </div>
        </div>

        <div class="participation-wrapper">

        </div>
    </div>
</main>

<script>
    
</script>
{% endblock content %}

{% comment %} 
    <div class="participate">
        {% if event.eventType == "individual" %}
            {% if not event.individualTeamParticipation %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="ParticipateInIndividualEvent">
                    <button type="submit">Participate</button>
                </form>
            {% endif %}
        
            {% if event.individualTeamParticipation %}
                <p>You have already participated!</p>
                <p>Do you wish to take back your name from the event?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="takeIndividualParticipationBack">Take back my name</button>
                </form>
            {% endif %}
        {% endif %}
        
        {% if event.eventType == 'team' %}
            {% if event.isPending %}
                <p>Pending Requests</p>
                <ul>
                    {% for request in event.isPending %}
                        <li>Team:{{request.teamName}} lead by <a href="{{request.teamLeader.get_absolute_url}}">{{request.teamLeader.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}    

            {% if not event.isLeader and not event.isJoined %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="joinTeam">
                    {% if event.teams %}
                        <p>Select Team to Participate:</p>
                        {% for teamName, teamLeaderName, teamLeaderEmail, teamLeaderRollno, count in event.teams %}
                            <p>
                                {{ teamName }} | <a href="/{{ teamLeaderRollno }}">{{ teamLeaderName }}</a> | {{ teamLeaderEmail }} | {{ count }}
                                <button type="submit" name="teamName" value="{{ teamName }}">Send join request</button>
                            </p>
                        {% endfor %}
                    {% endif %}
                </form>

                <p>Create Team: </p>
                {% if event.isPending %}
                    Warning: Your all pending requests will be discarded. 
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="createTeam">
                    <p>Enter Team Name</p>
                    <input type="text" name="teamNameToBeCreated">
                    <button type="submit" name="">Create Team</button>
                </form>
            {% endif %}
            
            {% if event.isLeader %}
                <p>You are leader of team: {{event.isLeader.teamName}}</p>

                {% if event.teamJoinRequestsIfLeader %}
                    <p>You have following requests to join your team.</p>
                    <form method="post">
                        {% csrf_token %}
                        {% for joinRequest in event.teamJoinRequestsIfLeader %}
                            <p>
                                <a href="{{joinRequest.user.get_absolute_url}}">{{joinRequest.user.name}}</a> | {{joinRequest.user.email}} | {{joinRequest.user.branch}} 
                                <button type="submit" name="acceptReq" value="{{joinRequest.user}}">Accept</button>
                            </p>
                        {% endfor %}
                    </form>
                {% endif %}

                <p>If you want to join or create another team please discard this team.</p>
                {% if event.membersInTeamIfLeader != 0 %}
                    <p>Please tell all your team members to leave the team.</p>
                    <p>Only then you can discard your team.</p>
                {% endif %}
                
                {% if event.membersInTeamIfLeader == 0 %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="discardTeam" value="{{event.isLeader.teamName}}">Discard</button>
                    </form>
                {% endif %}

            {% endif %}

            {% if event.isJoined %}
                <p>You are part of team {{event.isJoined.teamName}} lead by <a href="{{event.isJoined.teamLeader.get_absolute_url}}">{{event.isJoined.teamLeader.name}}</a>.</p>
                <p>If you want to join or create any other team you may leave this team first.</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="leaveTeam">Leave the team?</button>
                </form>
            {% endif %}
        {% endif %}

    </div>

{% endcomment %}