{% extends 'base.html' %}
{% load static %}

{% block title %}
  Events
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/eventList.css' %}" />
{% endblock %}

{% block backgroundImageURL %}
  {% static 'backgrounds/eventsList.jpeg' %}
{% endblock %}

{% block navLinksWide %}
    <a href="{% url 'homepage' %}">Home</a>
    {% if user.is_staff %}
        <a href="{% url 'addEvent' %}">Add Event</a>
    {% endif %}
    <a href="">Projects</a>
    <a href="">Lost-Found</a>
    <a href="">Study Material</a>
{% endblock navLinksWide %}

{% block navLinksDrop %}
    <a href="{% url 'homepage' %}">Home</a>
    {% if user.is_staff %}
        <a href="{% url 'addEvent' %}">Add Event</a>
    {% endif %}
    <a href="">Projects</a>
    <a href="">Lost-Found</a>
    <a href="">Study Material</a>
{% endblock navLinksDrop %}


{% block content %}
<main>
    <div class="wrapper">
        <div class="title">
            Events
        </div>
        <div class="club-selector">
            {% for a, b in clubs %}
            <div class="club-button {{a}}">{{b}}</div>
            {% endfor %}
        </div>
        <div class="events">
            {% for event in events %}
                <div class="event {{event.club}}Event">
                    <div class="left">
                        <img src="{{ event.eventImage.url }}" alt="{{ event.eventName }}">
                    </div>
                    <div class="right">
                        <div class="eventName">{{event.eventName}}</div>
                        <div class="discription">{{event.eventDiscription|truncatewords:10}}</div>
                        <div class="location">Location: {{event.location}}</div>
                        <div class="coordinators">Coordinators: {{event.coordinators}}</div>
                        <div class="contact">Contact: {{event.contact}}</div>
                        {% if event.eventType == 'team' %}
                            <div class="teamSize">Team Size: [{{event.minTeamSize}}, {{event.maxTeamSize}}]</div>    
                        {% endif %}
                        <div class="explore-button">
                            <a href="{{event.get_absolute_url}}" class="explore">Explore more!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<script>
    document.querySelector(".club-selector").addEventListener("click", function(e){
        const setDisplay = function(className){
            for(const club of clubs){
                if(club == className){
                    const button = document.querySelector('.'+club)
                    button.style.backgroundColor = 'rgba(149, 209, 255, 0.552)'
                }
                else{
                    const button = document.querySelector('.'+club)
                    button.style.backgroundColor = 'rgba(149, 205, 255, 0.163)'
                }
            }

            if(className == "all"){
                for(const club of clubs){
                    const events = document.querySelectorAll('.'+club+'Event')
                    for(const event of events){
                        event.style.display = "flex"
                    }
                }
            }else{
                if(e.target.classList[0] == 'club-button'){
                    for(const club of clubs){
                        if(club == className){
                            const events = document.querySelectorAll('.'+club+'Event')
                            for(const event of events){
                                event.style.display = "flex"
                            }
                        }
                        else{
                            const events = document.querySelectorAll('.'+club+'Event')
                            for(const event of events){
                                event.style.display = "none"
                            }
        
                        }
                    }
                }
            }
        }

        const clubs = []
        {% for a, b in clubs %}
        clubs.push('{{a}}')
        {% endfor %}

        const selectedClub = e.target.classList[1]
        setDisplay(selectedClub)
    })
</script>
{% endblock content %}